$border-green: #468300;

.gs-skills {
    border: 1px solid $border-green;

    .gs-skill-title {
        background: $border-green;
    }
}

span {
    &.gs-skill {
        background: #56008c;
    }
}