.gs-header {
    .gs-name-wrap {
        .gs-name {
            font-family: 'Red Hat Display', sans-serif;
            color: #f4ffe3;
        }

        .gs-box {
            //width: 130px;
            height: 1px;
            background: #81f100;
        }

        .gs-subtitle {
            color: #cdf100;
        }
    }
}