@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display&display=swap');

html,
#root {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  //min-height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(43, 0, 52, 1) 23%, rgba(15, 0, 52, 1) 90%) fixed;
}

.bar1,
.bar2,
.bar3 {
  background-color: rgb(185, 185, 185);
  transition: 0.1s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-38deg) translate(-10px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(38deg) translate(-8px, -8px);
}

.name-wrap {
  .name {
    font-family: 'Red Hat Display', sans-serif;
    color: #f4ffe3;
  }

  .box {
    //width: 130px;
    height: 1px;
    background: #81f100;
  }

  .subtitle {
    color: #cdf100;
  }
}

.top-12 {
  top: 3rem;
}