@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display&display=swap');

html,
#root {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  //min-height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(43, 0, 52, 1) 23%, rgba(15, 0, 52, 1) 90%) fixed;
}