@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display&display=swap');
@import "tailwindcss";

html,
#root {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  width: 100%;
}

#gs-background {
  background-color: rgba(43, 0, 52, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(43, 0, 52, 1) 23%, rgba(15, 0, 52, 1) 90%);
  background-size: cover;
  z-index: -100;
}